html, body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}
canvas {
  display: block;
  position:absolute;
  top:0;
  z-index:0
}

footer{
  display: block;
  position:absolute;
  bottom:2rem;
  left:2rem;
  z-index:10
}